<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Lightning B1 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 65}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{-5, -31}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 64}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B1 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 50}, {70, 42}}</string>
			<key>spriteOffset</key>
			<string>{-3, -23}</string>
			<key>spriteSize</key>
			<string>{70, 42}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 358}, {70, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B1 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 31}, {76, 60}}</string>
			<key>spriteOffset</key>
			<string>{-3, -13}</string>
			<key>spriteSize</key>
			<string>{76, 60}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 164}, {76, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B1 04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {88, 82}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{88, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 280}, {88, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B1 05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {86, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{86, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {86, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B2 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{3, -11}</string>
			<key>spriteSize</key>
			<string>{76, 74}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 362}, {76, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B2 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 23}, {80, 70}}</string>
			<key>spriteOffset</key>
			<string>{3, -10}</string>
			<key>spriteSize</key>
			<string>{80, 70}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 436}, {80, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B2 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 25}, {50, 58}}</string>
			<key>spriteOffset</key>
			<string>{-4, -6}</string>
			<key>spriteSize</key>
			<string>{50, 58}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 454}, {50, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B2 04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 30}, {56, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{56, 52}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 64}, {56, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B2 05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 27}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 0}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B3 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {64, 68}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{64, 68}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 96}, {64, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B3 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {84, 64}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{84, 64}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 0}, {84, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B3 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {88, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{88, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 370}, {88, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B3 04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 96}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B3 05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {66, 90}}</string>
			<key>spriteOffset</key>
			<string>{-14, -3}</string>
			<key>spriteSize</key>
			<string>{66, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 280}, {66, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B4 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 14}, {54, 78}}</string>
			<key>spriteOffset</key>
			<string>{-18, -5}</string>
			<key>spriteSize</key>
			<string>{54, 78}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 190}, {54, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B4 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 32}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{-15, -13}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 454}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B4 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 39}, {60, 48}}</string>
			<key>spriteOffset</key>
			<string>{-10, -15}</string>
			<key>spriteSize</key>
			<string>{60, 48}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 116}, {60, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B4 04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 37}, {54, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -11}</string>
			<key>spriteSize</key>
			<string>{54, 44}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 270}, {54, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B4 05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 36}, {62, 46}}</string>
			<key>spriteOffset</key>
			<string>{-10, -11}</string>
			<key>spriteSize</key>
			<string>{62, 46}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 224}, {62, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B5 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 30}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{-7, -4}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 314}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B5 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 30}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{-2, -8}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 0}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B5 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 34}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{-13, -10}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 102}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B5 04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 30}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{-13, -7}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 52}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Lightning B5 05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 96}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {96, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>