<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Interval</key>
		<integer>2</integer>
		<key>Objective</key>
		<string>(15, 15)</string>
		<key>Start</key>
		<string>(11, 0)</string>
		<key>Path Number</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
