<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Start</key>
		<string>(0, 0)</string>
		<key>Interval</key>
		<integer>1</integer>
		<key>Objective</key>
		<string>(10, 10)</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>(6, 0)</string>
		<key>Interval</key>
		<integer>2</integer>
		<key>Objective</key>
		<string>(10, 10)</string>
	</dict>
	<dict>
		<key>Start</key>
		<string>(3, 0)</string>
		<key>Interval</key>
		<real>1.5</real>
		<key>Objective</key>
		<string>(10, 10)</string>
	</dict>
</array>
</plist>
